* {
    box-sizing: border-box;
    margin 0 auto;
    padding 0;
}

.vertical {
    height: calc(95% - 290px);
}

.horizontal {
    width: 100%;
}

.game_title {
    height: 40px;
    float: top;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: black;
    padding-bottom: 10px;
}

.playersbar {
    float: left;
    min-width: 200px;
}

.mainblock {
    float: left;
    min-width: 334px;
    padding: 30px;
    
    border: solid;
    border-width: 0 1px 0 1px;
    border-color: black;
    
}

.phaseblock {
    padding: 10px;
    text-align: right;
    float: right;
    
}

.playeritem {
    display: block;
    margin: 15 auto;
    border-width: 1px;
    border-bottom: solid;
    
}

.handblock {
    min-height: 250px;
    position: absolute;
    bottom: 0;
    
    padding-top: 25px;
    
    border: solid;
    border-width: 1px 0 0 0;
    border-color: black;
}

.card {
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    text-align: left;
}

.blankcard {
    border-style: dashed;
    text-align: center;
    padding: 50px 0 0 0;
}

.pilecontainer {
    margin: 5px 0;
    padding: 0;
    display: inline-block;
}

.pilecard {
    font-size: 19pt;
    width: 40px;
    height: 40px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 3px 0 0 0;
}
